<h1>Rails with <%= @name %>!!!</h1>

<% if true %>
    Im true
<% elsif %>
    Im false
<% end %>

<%# This is a comment %>

<h1><%= Time.now %></h1>
<h1><%= Date.today %></h1>
<h1><%= DateTime.now %></h1>


<%# Use this: %>
<h1><%= Time.zone.now %></h1>

<h1>The current time is <%= @time %></h1>
